* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

hr{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
}