.caracteristicas{
    margin: 0 auto;
    &__titulo{
        text-align: center;
    }
    &__contenido{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4.375rem;
        justify-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .caracteristicas__contenido{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 1.25rem;
        &__grafico{
            margin-left: 0;
        }
        &__texto{
            position: relative;
            bottom: 4.625rem;
            h3{
                text-align: center;
            }
        }
    }
}