.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5625rem 5.4375rem;
    background-color: $raising-black;
    &__lista{
        display: flex;
        justify-content: center;
        list-style: none;
        li a{
            color: white;
            margin-right: 1.0625rem;
        }
    }
    &__copyright{
        color: white;
        
    }
}

@media only screen and (max-width: 768px) {
    .footer{
            display: inline-block;
            text-align: center;
        }
    }