.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5.4375rem;
    &__lista{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            margin-right: 17px;
        }
    }
    &__botones{
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .NavBar__botones a {
      display: none;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .NavBar__botones button {
      display: none;
    }
    .link{
        display: none;
    }
  }