.precios{
    background-image: url(../images/bg-price.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 12.5rem;
    &__titulo{
        text-align: center;
        color: white;
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 3.125rem;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 2.8125rem;
    &__card{
        height: 27.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 1.25rem;
        &__card{
            width: 19.6875rem;
        }
    }
}